<template>
    <div via-resource="" via-resource-id="" via-relationship="" class="flex border-b border-40">
        <div class="w-1/5 px-8 py-6">
            <label for="card_name" class="inline-block text-80 pt-2 leading-tight">Card Name<span class="text-danger text-sm">*</span>
            </label>
        </div>
        <div class="py-6 px-8 w-1/2">
            <input v-on:keyup.enter="addCard" v-model="card_name" type="text" id="card_name" placeholder="Card Name" ref="addCard" class="w-full form-control form-input form-input-bordered">
        </div>
        <div class="w-1/3 px-8 py-6 text-right">
            <button @click="addCard" type="button" class="btn btn-default btn-primary">
                Create Card
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add_card",
        data(){
            return {
                card_name: ''
            }
        },
        props:['table_id','routes'],
        methods:{
            addCard(){
                axios.post(this.routes.add_card,{
                    table_id: this.table_id,
                    title: this.card_name
                }).then( (response) => {
                    this.$emit('newCard', {
                        id : response.data.id,
                        title: this.card_name,
                        tasks: []
                    })
                    this.$toasted.show('Card Successfully Added', { type: 'success' })
                    this.card_name = '';
                }).catch((response) => {
                    this.$toasted.show('Some Error', { type: 'error' })
                });

            }
        }
    }
</script>

<style scoped>

</style>
