<template>
    <div class="flex  justify-between px-6">
        <div class="w-auto my-6">
            <input v-on:keyup.enter="addTask(event);" v-model="task" placeholder="Task Title" class="w-full form-control form-input form-input-bordered">
        </div>
        <div class="w-1/3 my-6 text-right">
            <button @click="addTask" type="button" class="btn btn-default btn-primary">
                +
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add_task",
        props:['routes', 'card_id', 'card_index'],
        data(){
            return {
                task:'',
            }
        },
        methods:{
            addTask(){
                this.$emit('addTask', this.card_id, this.card_index, this.task)
                this.task = '';
            }
        }
    }
</script>

<style scoped>

</style>
