<template>
    <div>
        <portal to="modals">
            <transition name="fade">
                <DeleteCardModal
                    v-if="deleteCardModalOpen"
                    @confirmCardDelete="confirmCardDelete"
                    @closeModal="closeModal"
                />
            </transition>
        </portal>
        <AddCard ref="addCard" @newCard="newCard" :routes="routes" :table_id="table_id"/>
        <div v-if="cards.length" style="min-height: 344px">
            <transition name="fade">
                <draggable v-if="!transitionCards" tag="div" :list="card"  v-bind="dragCardOptions" @start="onDraggableCardStart" @end="onDraggableCardEnd">
                    <transition-group class="px-6 py-3 flex flex-wrap"  type="transition">
                        <div v-for="(card, card_index) in cards" class="card px-3 my-3 w-1/3 border-b border-40 draggable" :cardId="card.id" :key="card.id">
                            <div v-if="show_card_mask" class="mask">
                                <svg viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="text-60 mx-auto block" style="width: 50px;"><circle cx="15" cy="15" r="10.8909"><animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite"></animate><animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite"></animate></circle><circle cx="60" cy="15" r="13.1091" fill-opacity="0.3"><animate attributeName="r" from="9" to="9" begin="0s" dur="0.8s" values="9;15;9" calcMode="linear" repeatCount="indefinite"></animate><animate attributeName="fill-opacity" from="0.5" to="0.5" begin="0s" dur="0.8s" values=".5;1;.5" calcMode="linear" repeatCount="indefinite"></animate></circle><circle cx="105" cy="15" r="10.8909"><animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite"></animate><animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite"></animate></circle></svg>
                            </div>
                            <div class="no-underline flex p-6 justify-between">
                                <h3 contenteditable="true" @keydown="checkCardName" @focusout="editCardName(card.id, card_index)" class="content-editable mb-3 text-90 uppercase tracking-wide font-bold text-sm">{{card.title}}</h3>

                                <button @click="deleteCardModal(card.id, card_index)" title="Delete Card" type="button" class="btn btn-default btn-danger btn-task">
                                    -
                                </button>
                            </div>
                            <div class="px-3">
                                <draggable  class="todo_list" tag="ul" :list="card.tasks"  v-bind="dragTasksOptions" @start="onDraggableTaskStart" @end="onDraggableTaskEnd">
                                    <transition-group type="transition" :listId="card.id" draggable="true">
                                        <li class="list-group-item hover-list px-3 draggable" v-for="(task, index) in card.tasks"  :class="{completed:task.status === 'completed'}" :key="task.order" :taskId="task.id"> {{task.task}}
                                            <div @click="showDropDown(task.id)" class="list-setting">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M9 4.58V4c0-1.1.9-2 2-2h2a2 2 0 0 1 2 2v.58a8 8 0 0 1 1.92 1.11l.5-.29a2 2 0 0 1 2.74.73l1 1.74a2 2 0 0 1-.73 2.73l-.5.29a8.06 8.06 0 0 1 0 2.22l.5.3a2 2 0 0 1 .73 2.72l-1 1.74a2 2 0 0 1-2.73.73l-.5-.3A8 8 0 0 1 15 19.43V20a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2v-.58a8 8 0 0 1-1.92-1.11l-.5.29a2 2 0 0 1-2.74-.73l-1-1.74a2 2 0 0 1 .73-2.73l.5-.29a8.06 8.06 0 0 1 0-2.22l-.5-.3a2 2 0 0 1-.73-2.72l1-1.74a2 2 0 0 1 2.73-.73l.5.3A8 8 0 0 1 9 4.57zM7.88 7.64l-.54.51-1.77-1.02-1 1.74 1.76 1.01-.17.73a6.02 6.02 0 0 0 0 2.78l.17.73-1.76 1.01 1 1.74 1.77-1.02.54.51a6 6 0 0 0 2.4 1.4l.72.2V20h2v-2.04l.71-.2a6 6 0 0 0 2.41-1.4l.54-.51 1.77 1.02 1-1.74-1.76-1.01.17-.73a6.02 6.02 0 0 0 0-2.78l-.17-.73 1.76-1.01-1-1.74-1.77 1.02-.54-.51a6 6 0 0 0-2.4-1.4l-.72-.2V4h-2v2.04l-.71.2a6 6 0 0 0-2.41 1.4zM12 16a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/></svg>
                                            </div>
                                            <div v-if="shown_dropdown_id === task.id" class="dropdown-settings settings_item  bg-primary rounded-lg py-2 shadow-lg">
                                                <span v-if="task.status === 'new'" @click="changeStatusTask(card_index, task.id, index)" class="block px-4 py-2 text-white cursor-pointer hover:bg-info-dark hover:text-white">Complete</span>
                                                <span v-else @click="changeStatusTask(card_index, task.id, index)" class="block px-4 py-2 text-white cursor-pointer hover:bg-info-dark hover:text-white">Return</span>
                                                <span @click="deleteTask(card_index, task.id, index)" class="block px-4 py-2 text-white cursor-pointer hover:bg-info-dark hover:text-white">Delete</span>
                                            </div>
                                        </li>
                                        <span :disabled="true" draggable="false" key="4711" v-if="!card.tasks.length">
                                        <li class="list-group-item hover-list undraggable px-3" >
                                            Card is Empty
                                        </li>
                                    </span>
                                    </transition-group>
                                </draggable>
                            </div>
                            <AddTask :routes="routes" :card_id="card.id" :card_index="card_index" @addTask="addTask"/>
                        </div>
                    </transition-group>
                </draggable>
            </transition>
        </div>
        <div v-if="!cards.length" class="empty-card">
            <span v-if="!transitionCards">Empty table. Please <span class="inline-link cursor-pointer" @click="focusCardAdd">add</span> new card.</span>
        </div>
    </div>

</template>

<script>
    import DeleteCardModal from '../../modals/modal';
    import AddCard from './add_card';
    import AddTask from './add_task';
    import draggable from 'vuedraggable'

    export default {
        name: "todo_cards",
        props:['cards','table_id','routes', 'show_card_mask', 'transitionCards'],
        data(){
            return{
                deleteCardModalOpen: false,
                deletedCardId: '',
                deletedArrayCardIndex: '',
                showNotification: true,
                draggableTaskId: '',
                shown_dropdown_id: ''
            }
        },
        components:{
            AddCard,
            AddTask,
            DeleteCardModal,
            draggable
        },
        methods:{
            newCard(obj) {
                this.cards.push(obj);
            },
            deleteCardModal(id, array_index) {
                this.deleteCardModalOpen = true;
                this.deletedCardId = id;
                this.deletedArrayCardIndex = array_index;
            },
            confirmCardDelete() {
                this.$emit('deleteCard', this.deletedCardId,this.deletedArrayCardIndex);
                this.deletedCardId = '';
                this.deletedArrayCardIndex = '';
                this.deleteCardModalOpen = false;
            },
            closeModal() {
                this.deletedCardId = '';
                this.deletedArrayCardIndex = '';
                this.deleteCardModalOpen = false;
            },
            addTask(card_id, card_index, task) {
                this.$emit('addTask', card_id, card_index, task)
            },
            deleteTask(card_index, task_id, index){
                this.shown_dropdown_id = '';
                this.$emit('deleteTask', card_index, task_id, index);
            },
            changeStatusTask(card_index, task_id, index){
                this.shown_dropdown_id = '';
                this.$emit('changeStatusTask', card_index, task_id, index);
            },
            showDropDown(id) {
                this.shown_dropdown_id = id;
            },
            onDraggableCardStart(evt){
                evt.item.classList.add('draggable-effect');
            },
            onDraggableCardEnd(evt){
                evt.item.classList.remove('draggable-effect');
                let newIndex = evt.newIndex;
                let card_id = evt.item.getAttribute('cardId');

                axios.post(this.routes.change_card_position, {
                    id:card_id,
                    table_id:this.table_id,
                    order: newIndex
                }).then((response) => {
                    this.notification('Card Moved', 'success');
                }).catch((response) => {
                    this.notification(response.data, 'error');
                })
            },
            onDraggableTaskStart(evt){
                evt.item.classList.add('draggable-effect');
                this.draggableTaskId = evt.item.getAttribute('taskId');
            },
            onDraggableTaskEnd(evt){
                evt.item.classList.remove('draggable-effect');
                let task_id = this.draggableTaskId;
                this.draggableTaskId = '';
                let fromListId = evt.from.getAttribute('listId');
                let toListId = evt.to.getAttribute('listId');
                let oldIndex = evt.oldIndex+1;
                let newIndex = evt.newIndex;

                if(oldIndex-1 === newIndex && fromListId === toListId){
                    return false;
                }

                axios.post(this.routes.change_task_position, {
                    id:task_id,
                    prev_card_id: fromListId,
                    card_id: toListId,
                    old_index: oldIndex,
                    order: newIndex
                }).then((response) => {
                    this.notification('Task Saved', 'success');
                }).catch((response) => {
                    this.notification(response.data, 'error');
                })
            },
            checkCardName(e){
                if( e.keyCode === 8 ){
                    return true;
                }
                if( e.ctrlKey === true ){
                    if(e.ctrlKey === true && (e.keyCode === 65 || e.keyCode === 97)){
                        return true;
                    }
                }

                if (e.keyCode === 13) {
                    e.preventDefault();
                }

                if (e.ctrlKey==true && (e.which == '118' || e.which == '86')) {
                    event.preventDefault();
                }

                let selected_text = this.getSelectedText();

                let namelength = e.target.innerHTML.length;

                if(selected_text.length>0){
                    return true;
                }



                if(namelength>=20){
                    if(this.showNotification){
                        this.notification('Card Name Can\'t be more than 20 letters', 'error');
                    }
                    e.preventDefault();
                }

            },

            editCardName(card_id, index){

                if(!event.target.innerHTML.length > 0){
                    event.target.innerHTML = 'Card';
                }

                let newName  = event.target.innerHTML = event.target.innerHTML.trim().replace(/(?:^(?:&nbsp;)+)|(?:(?:&nbsp;)+$)/g, ''); // Formatting without spaces

                axios.post(this.routes.update_card,{
                    title:newName,
                    id:card_id
                }).then((response) => {
                    this.cards[index].name = newName;

                    if(this.showNotification){
                        this.notification('Card Name Updated', 'success');
                    }

                }).catch((response) => {
                    this.notification(response.data, 'error');
                })

            },
            getSelectedText() {
                var text = "";
                if (typeof window.getSelection != "undefined") {
                    text = window.getSelection().toString();
                } else if (typeof document.selection != "undefined" && document.selection.type == "Text") {
                    text = document.selection.createRange().text;
                }
                return text;
            },
            notification(message, status){
                if(this.showNotification){
                    this.$toasted.show(message, { type: status })
                }
                if(this.showNotification){
                    this.showNotification = false;

                    setTimeout(() => {
                        this.showNotification = true;
                    },3000)
                }
            },
            focusCardAdd(){
                this.$refs.addCard.$refs.addCard.focus()
            }
        },
        mounted () {
            document.addEventListener('mouseup', function (e) {
                var button = document.getElementsByClassName('list-setting')[0];
                var container = document.getElementsByClassName('dropdown-settings')[0];
                if (!button.contains(e.target)) {
                    if(container){
                        if(!container.contains(e.target)){
                            this.shown_dropdown_id = '';
                        }
                    }else{
                        this.shown_dropdown_id = '';
                    }
                }

            }.bind(this));
        },
        computed: {
            dragTasksOptions() {
                return {
                    animation: 200,
                    group: "tasks",
                    disabled: false,
                    ghostClass: "ghost",
                    forceFallback: true,
                    handle: '.draggable'
                };
            },
            dragCardOptions() {
                return {
                    animation: 200,
                    group: "cards",
                    disabled: false,
                    ghostClass: "ghost",
                    forceFallback: true,
                    handle: '.draggable'
                };
            }
        }
    }
</script>

<style scoped>
    .content-editable{
        cursor:text;
    }
    .empty-card{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 344px;
    }
    .undraggable{
        cursor:not-allowed;
    }
    .undraggable:active {
        cursor:not-allowed;
    }
    .todo_list{
        list-style: none;
        padding: 0;
        min-height: 100px;
    }
    .todo_list li{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 45px;
        position: relative;
        border: 1px solid transparent
    }
    .todo_list li:hover{
        background-color: #f2f2f2;
        border-radius:3px;

    }
    .list-setting{
        opacity:0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        position: absolute;
        top:7px;
        right:10px;
        cursor:pointer;
    }
    .todo_list li:hover .list-setting {
        opacity:1;
        visibility: visible;
    }
    .btn-task{
        height: 1.25rem;
        line-height: 1.25rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .card{
        width: 31%;
        margin: 10px;
        border:1px solid #f2f2f2;
        min-height: 300px;
        height: 100%;
        overflow-y:auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .draggable-effect{
        text-indent: -99999px;
        border:1px solid #cecece;
        background-color: #f2f2f2;
    }
    .draggable-effect div{
        display:none;
    }
    .settings_item{
        z-index: 10;
        position:absolute;
        top:36px;
        right:0px;
    }
    .completed{
        color:green;
    }
    .mask{
        background: rgba(0, 0, 0, 0.03);
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        display: flex;
        z-index: 100;
        justify-content: center;
        align-items: center;
    }
</style>
